body{
	font-family: 'Century Gothic', Calibri, serif;
	font-size: 13px;
	margin: 0px;
	padding: 0px;
	text-align: justify;
}
h1{
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}
header{
	height: 100px;
}
footer{
	height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color: #c5c5c5;
	border-top: 2px solid #aaa;
}
nav{
	width: 100%;
	background-color: #424558;
}
nav ul{
	margin: 0px;
	padding: 0px;
}
nav li{
	list-style-type: none;
	float: left;
}
nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px 30px;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
}
img{
	width: 30%;
	height: 120px;
}
.table{
	display: table;
	margin: 0 auto;	
}
.menu-ind:hover, .presentation{
	border-top: 5px solid #4c8;
	background-color: rgba(64, 200, 130, 0.15);
}
.menu-exp:hover, .parcours{
	border-top: 5px solid #f1dc4f;
	background-color: rgba(241, 211, 79, 0.15);
}
.menu-hob:hover, .competences{
	border-top: 5px solid #0070bb;
	background-color: rgba(000, 112, 192, 0.15);
}
.menu-con:hover, .recommandation{
	border-top: 5px solid #e44d26;
	background-color: rgba(228, 77, 38, 0.15);
}
nav li:hover a{
	padding: 15px 30px 20px 30px;
}
section{
	width: 100%;
	min-width: 300px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.presentation{
	padding-bottom: 150px;
}
.parcours{
	height: 800px;
}
.competences{
	height: 300px;
}
.recommandation{
	height: 500px;
}
.recommandation img{
	height: auto;
}
.sec{
	margin: 0px 10px;
}
.reco{
	height: 160px;
}
.left{
	float: left;
	width: 30%;
}
.right{
	float: left;
	width: 70%;
}
.cleft, .cright, .sousleft, .sousright{
	width: 50%;
	float: left;
}
.sec::after, .exp::after, .reco::after{
	content: "";
	display: "";
	clear: both;
}







@media screen and (max-width: 780px){
	header{
		height: 50px;
	}
	h1{
		font-size: 28px;
		margin: 20px 0px 0px 0px;
	}
	nav li a{
		font-size: 12px;
		padding: 10px;
	}
	nav li:hover a{
		padding: 5px 10px 10px 10px;
	}
}